<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyToBackend" stopProcessing="true">
          <match url="(api)/(.*)" />
          <action type="Rewrite" url="http://192.168.90.93:3000/{R:0}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
    <proxy>
      <reverseProxy enabled="true" />
    </proxy>
  </system.webServer>
</configuration>
